.root{
	margin-top:10%;
}
.no-margin{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.no-padding{
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.factory-form{
	padding-left:0px !important;
	position: absolute !important;
	z-index: 99;
}
.error{
	color:red;
	font-size: 12px;
}
.padding-right-0{
	padding-right: 0px;
}
.node-text{
	padding-top: 50px;
	margin-bottom: 0px;
}
.panel-top-5{
	padding-top:5px;
}
.icon-bottom-5{
	padding-bottom: 5px;
}
.mod-a {
  color: grey !important;
}
.mod-a:hover {
  color: black !important;
  text-decoration: none !important;
}
.close-button{
	font-size: 20px;
	padding-bottom: 5px;
}
.close-button:hover{
	color: black !important;
  	text-decoration: none !important;
}
.childFormItem{
	padding-top: 0px;
}


.tree li {
    list-style-type:none;
    margin:0;
    padding:30px 20px 0 80px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:105%;
    top:0;
    width:1px
}
.child{
    height: 40px;
}
.tree li::after {
    border-top:1px solid #999;
    height:80px;
    top:40px;
    width:100px
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:40px;
}

.white{
    color:#ffffff !important;
}
.danger{
    background-color:#d9534f;
}
.sort-icon{
    font-size: 20px;
}